<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HabitDiary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BED9F2B91F4C4B00009BAE3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BED9F2D01F4C4B00009BAE3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BED9F2DB1F4C4B00009BAE3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
